@model Private_University.Models.ForgotPassword

@{
    ViewBag.Title = "Forget Password";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="ad-log-in-con">
    <div class="log-in-pop-right">
        <div class="ad-log-in-logo">
            <a href="Index"><img src="~/Content/images/cgpurc_logo_Sm.png" alt=""></a>
        </div>
        <h4>Forgot Password</h4>
        @using (Html.BeginForm("ForgetPassword", "Home", FormMethod.Post, new { Class = "s12" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            if (ViewBag.Message != null)
            {
                <div style="border: 1px solid red">
                    @ViewBag.Message
                </div>
            }
            <div>
                <div class="input-field s12">
                    @Html.TextBoxFor(a => a.UserName, new { Class = "validate" })
                    @Html.LabelFor(a => a.UserName)
                    @Html.ValidationMessageFor(a => a.UserName,"",new { Class= "text-danger" })
                </div>
            </div>
            <div>
                <div class="input-field s12">
                    @Html.TextBoxFor(a => a.EmailID, new { Class = "validate" })
                    @Html.LabelFor(a => a.EmailID)
                    @Html.ValidationMessageFor(a => a.EmailID, "", new { Class = "text-danger" })
                </div>
            </div>
            <div>
                <div class="input-field s4">
                    <i class="waves-effect waves-light log-in-btn waves-input-wrapper" style=""><input type="submit" value="Submit" class="waves-button-input"></i>
                </div>
            </div>
            <div>
                <div class="input-field s12"> <a href="Login">login</a> | <a href="index">Home</a> </div>
            </div>
        }
    </div>
</div>

