@model IEnumerable<Private_University.Models.UniversityDetailsWithOfficeBearer>
@{
    ViewBag.Title = "UniversityProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--SECTION START-->
@foreach (var item in Model)
{
    <section>
        <div class="search-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-center" style="color:white;">@item.University_Name</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--END HEADER SECTION-->
    <div class="pro-cover">
    </div>
    <div class="pro-menu">
        <div class="container">
        </div>
    </div>
    <div class="stu-db">

        <div class="container pg-inn" style="padding: 7px 15px; ">
            <div class="col-md-3">
                <div class="pro-user">
                    @if (item.Univsersity_Logo != string.Empty)
                    {
                        <img src="@Url.Content("~/UniversityLogo/" + @item.Univsersity_Logo)" style="height:200px;" alt="user">
                    }
                    else
                    {

                    }
                </div>
                <div class="pro-user-bio">
                    <ul>
                        <li>
                            <h4>Registration No - @item.Registration_Number</h4>
                        </li>
                        <li></li>
                        <li><i class="fa fa-phone">@item.Contact_Number</i></li>
                        <li><i class="fa fa-envelope">@item.Email_ID</i></li>
                        <li><i class="fa fa-globe"></i><a href="@item.Website_URL" target="_blank">@item.Website_URL</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="udb" style="margin-top:0px; padding: 0px 0px;">

                    <div class="udb-sec udb-prof">
                        <h4>University Profile</h4>
                        <p>
                            @item.University_Details
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="udb-sec udb-prof">
                    <h4>University Members</h4>
                    <div class="row">
                        @for (int i = 0; i < item.UniversityOfficeBearerShowHome.Count; i++)
                        {
                            <div class="col-md-3 col-sm-3">
                                <img class="img img-thumbnail" src="@Url.Content("~/UniversityBearer/" + item.UniversityOfficeBearerShowHome[i].Picture)" height="120" />
                                @*<p class="font-weight-bold text-center">@Html.DisplayFor(modelItem => item.UniversityOfficeBearerShowHome[i].Other, new { @class = "text-center font-weight-bold" })</p>*@
                                <p class="font-weight-bold text-center">@Html.DisplayFor(modelItem => item.UniversityOfficeBearerShowHome[i].Name)</p>
                                <p class="text-center">@Html.DisplayFor(modelItem => item.UniversityOfficeBearerShowHome[i].Designation)</p>
                            </div>
                        }

                    </div>
                </div>
            </div>
            @*<div class="row udb-sec udb-prof">
                <iframe src="@item.Website_URL" temp_src="@item.Website_URL" style="width:100%;height:800px;border:0" scrolling="yes"></iframe>
            </div>*@
        </div>
    </div>
}
